<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LC Login</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="/" style="color: var(--bs-black);"><img style="margin-bottom: 10px;" src="https://assets.leetcode.com/static_assets/public/webpack_bundles/images/logo.c36eaf5e6.svg" width="58" height="42" /></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1" style="color: var(--bs-black);border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;"><span class="visually-hidden" style="color: var(--bs-black);">Toggle navigation</span><span class="navbar-toggler-icon" style="color: var(--bs-black);"></span></button>
            <div id="navcol-1" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item" style="color: var(--bs-black);"><a class="nav-link active" href="/companies" style="color: var(--bs-black);">Companies</a></li>
                    <!--li class="nav-item"><a class="nav-link" href="/companies" style="color: var(--bs-black);">Companies</a></li-->
                    {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/logout" style="color: var(--bs-black);">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/register" style="color: var(--bs-black);">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login" style="color: var(--bs-black);">Login</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% block body %}
{% endblock %}
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
{% block scripts %}

{% endblock %}
</body>
</html>