{% extends "base.html" %}

{% block title %} Companies {% endblock %}
{% block meta %}
<meta name="description" content="Leetcode Coding Questions">
<meta name="description" content="Companies wise coding questions">
<meta name = "keywords", content="APT Portfolio,Accenture,Activision,Adobe,Affirm,Airbnb,Akamai,Akuna Capital,Alation,Alibaba,AllinCall,Amazon,American Express,Apple,Arcesium,Arista Networks,Asana,Athenahealth,Atlassian,Baidu,Barclays,BlackRock,Bloomberg,Bolt,Booking,Box,ByteDance,C3 IoT,Canonical,Capital One,Cashfree,Cisco,Citadel,Citrix,Cohesity,Commvault,Coursera,Cruise Automation,DE Shaw,DJI,DRW,Databricks,Dataminr,Dell,Deutsche Bank,Directi,Docusign,DoorDash,Drawbridge,Dropbox,Druva,Dunzo,Duolingo,Epic Systems,Expedia,FPT,Facebook,FactSet,Flipkart,Gilt Groupe,GoDaddy,Goldman Sachs,Google,Grab,HBO,HRT,Honeywell,Hotstar,Huawei,Hulu,IBM,IIT Bombay,IMC,IXL,Indeed,Info Edge,Infosys,Intel,Intuit,JPMorgan,Jane Street,Jeavio,Karat,Leap Motion,LinkedIn,LiveRamp,Lyft,MAQ Software,MakeMyTrip,
Mathworks,Mercari,Microsoft,MindTickle,MindTree,Moengage,Morgan Stanley,National Instruments,Netflix,Netsuite,Nuro,Nutanix,Nvidia,OT,Opendoor,Optum,Oracle,Palantir Technologies,PayTM,Paypal,PhonePe,Pinterest,Pocket Gems,Postmates,
Pure Storage,Qualcomm,Qualtrics,Quora,Rakuten,Reddit,Redfin,Riot Games,Robinhood,Roblox,Rubrik,Rupeek,SAP,Salesforce,Samsung,Sapient,ServiceNow,Shopee,Snapchat,Softwire,Sony,Splunk,Spotify,Sprinklr,Square,Sumologic,Swiggy,T System,TIAA,Tencent,Tesla,Thumbtack,
Tiger Analytics,Toptal,TripleByte,TuSimple,Twilio,Twitch,Twitter,Two Sigma,Uber,United Health Group,VMware,Valve,Virtu Financial,Visa,Walmart Global Tech,Wayfair,Wealthfront,Wish,Works Applications,Yahoo,Yandex,Yelp,ZScaler,Zenefits,Zillow,Zoho,Zomato,Zoom,
Zopsmart,eBay,edabit,instacart,payu,peak6,persistent systems,razorpay,tcs,tiktok,zeta suite">

{% endblock %}

{% block body %}

    <div class="row">

        <div class="col">
            <h1 style="font-family: Raleway, sans-serif;text-align: center;">Companies</h1>
            {% if current_user.is_authenticated %}
            <h3 style="font-family: Raleway, sans-serif;text-align: left; margin-left: 20px"> Welcome {{ current_user.name}}</h3>
            {% endif %}

        </div>
        <div class="col" style="font-family: Raleway, sans-serif;">
            <header style="font-family: Raleway, sans-serif;"></header>
        </div>
    </div>
    <div class="table-responsive d-lg-flex align-items-lg-center" style="margin-top: 20px; margin-right: 20px; margin-left: 20px;">
        <table class="table table-responsive">
            <thead>
                <tr class="text-start">
                    <th style="font-family: Raleway, sans-serif;width: 20px;">S.no</th>
                    <th style="font-family: Raleway, sans-serif;width: 70px">Company</th>
                    <th style="font-family: Raleway, sans-serif;width: 50px">Total</th>
                </tr>
            </thead>
            <tbody style="font-family: Raleway, sans-serif;">
                {% for company in company %}
                <tr style="font-family: Raleway, sans-serif;">
                    <td style="font-family: Raleway, sans-serif;width: 20px;">{{ loop.index+1 }}</td>
                    <td style="font-family: Raleway, sans-serif;"><a href ="/company/{{ company['_id'] }}">{{ company['_id'] }}</a></td>
                    <td style="font-family: Raleway, sans-serif;">{{ company['count'] }}</td>
                </tr>
               {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}