{% extends "base.html" %}

{% block title %} Companies {% endblock %}
{%block meta %}
<meta name="description" content="{{ name }} previous coding questions">
<meta name="description" content="{{ name }} leetcode coding questions">
<meta name="description" content="{{ name }} Company wise coding questions">
<meta name="description" content="{{ name }} coding questions">
<meta name="description" content="{{ name }} exam coding questions">
<meta name="description" content="{{ name }} drive coding questions">
<meta name="description" content="{{ name }} interview coding questions">
{% endblock %}
{% block body %}

<div class="row">
        <div class="col">
            <h1 style="font-family: Raleway, sans-serif;text-align: center;">{{ name }}</h1>
        </div>
        <div class="col" style="font-family: Raleway, sans-serif;">
            <header style="font-family: Raleway, sans-serif;"></header>
        </div>
    </div>
    <div class="table-responsive d-lg-flex align-items-lg-center" style="margin-top: 20px; margin-right: 20px; margin-left: 20px;">
        <table class="table">
            <thead>
                <tr class="text-start">
                    <th style="font-family: Raleway, sans-serif;width: 20px;">S.no</th>
                    <th style="font-family: Raleway, sans-serif;width: 70px">Name</th>
                    <th style="font-family: Raleway, sans-serif;width: 50px">level</th>
                    <th style="font-family: Raleway, sans-serif;width: 50px">Frequency</th>
                </tr>
            </thead>
            <tbody style="font-family: Raleway, sans-serif;">
                {% for problem in problems%}
                <tr style="font-family: Raleway, sans-serif;">
                    <td style="font-family: Raleway, sans-serif;width: 20px;">{{ loop.index}}</td>
                    <td style="font-family: Raleway, sans-serif;"><a href ="{{ problem['link'] }}" target="_blank">{{ problem['name'] }}</a></td>
                    <td style="font-family: Raleway, sans-serif;width: 48px">{{ problem['level'] }}</td>
                    <td style="font-family: Raleway, sans-serif;">{{ problem['company']['freq'] }}</td>
                </tr>
               {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}


