{% extends "base.html"  %}

{% block title %} Home Page {% endblock %}

{% block body %}
<div class="container" style="margin-top: 50px;max-width: 600px;">
<h1 style="font-family: Raleway, sans-serif;text-align: center;">Questions</h1>
    <div style="text-align: center; height:200px;">
<canvas id="myChart2"  style=" margin: 0 auto; margin-top: 20px;"></canvas>
   </div>
</div>


<div class="container" style="margin-top: 100px;max-width: 600px;">
<h1 style="font-family: Raleway, sans-serif;text-align: center;">Company wise Questions</h1>
    <div style="text-align: center; height:200px;">
<canvas id="myChart1"  style=" margin: 0 auto; margin-top: 20px;"></canvas>
   </div>
</div>


{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

 <script>
    $(document).ready(function() {
      $.ajax({
        type: "GET",
        url: "{{ url_for('chart_data') }}",
        success: function(response) {
          var labels = response.company_name;
          var data = response.company_count;
          var easy = response.easy;
          var medium = response.medium;
          var hard = response.hard;


          // Create the chart
          var ctx = document.getElementById('myChart1').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: labels,
              datasets: [{
                label: "Count",
                data: data,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 2,
                borderRadius: 20,



              }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
          var ctx = document.getElementById('myChart2').getContext('2d');
          var data = {
          labels: ['Easy', 'Medium', 'Hard'],
          datasets: [{
            label: 'Problems Count',
            data: [easy, medium, hard],
            backgroundColor: ['rgb(12,225,73)', 'rgb(255, 205, 86)', '#FF6384FF']
          }]
        };

        // Create the chart
        var chart = new Chart(ctx, {
          type: 'doughnut',
          data: data,
          options: {
            cutoutPercentage: 50
          }
        });
        }
      });
    });
  </script>


<script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

{% endblock %}