{% extends "base.html"%}
{% block title %} Privacy Policy {% endblock %}
{% block body%}
     <div class="container mt-5">
    <h1 class="mb-5">Privacy Policy</h1>
    <p>Leetcodeproblems.tech is committed to protecting the privacy of our users. This privacy policy explains how we collect, use, and share information when you use our website.</p>
    <h2 class="mb-3">Collection of Information</h2>
    <p>We only collect the minimum amount of information necessary to provide our services. This includes your user name and email address, which are used for login purposes only. We do not track your activity on our website or collect any additional personal information.</p>
    <h2 class="mb-3">Use of Information</h2>
    <p>The information we collect is used solely for the purpose of providing access to our website and services. We do not share your information with any third parties, except in the case of Google login, in which case the Google terms of service apply.</p>
    <h2 class="mb-3">Security</h2>
    <p>We take appropriate measures to protect the security of your personal information. This includes the use of secure data storage and transmission using SSL/TLS encryption provided by Vercel, a cloud platform that also performs regular security audits and penetration testing and implements access controls to prevent unauthorized access to our systems.

In addition, we store your personal information in a secure database provided by MongoDB, a leading NoSQL database provider. MongoDB provides various security features, including encryption at rest, role-based access controls, and network isolation.

We follow industry best practices for securing and protecting user data, including compliance with GDPR, CCPA, and other relevant privacy laws.

However, no website can guarantee the security of your information. It is important for you to protect against unauthorized access to your password and to your computer.</p>
    <h2 class="mb-3">Changes to This Privacy Policy</h2>
    <p>We may update this privacy policy from time to time. We will post any changes on this page and encourage you to review the policy periodically.</p>
    <h2 class="mb-3">Contact Us</h2>
    <p>If you have any questions or concerns about our privacy policy, please contact us at [Insert contact information].</p>
  </div>
{% endblock %}